<html>
<head>
  <title>HR</title>
  <link rel="stylesheet" href="pgm/hr.css">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="http://code.jquery.com/jquery.latest.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="js/app.js"></script>


</head>
<body ng-app="myApp"  id="bg" style="background-color:lightblue">


<div id="des1">
  <canvas id="myCanvas" width="1365" height="200"
  style="border:1px solid #c3c3c3;">
  </canvas>

  <script>
  var canvas = document.getElementById("myCanvas");
  var ctx = canvas.getContext("2d");
  ctx.fillStyle = "darkblue";
  ctx.fillRect(0,0,1365,200);
  </script>
</div>
<div id="comp_name">

</div>
<div id="logo">
<img src="images/lo_new1.png" alt="Logo to be Displayed">
</div>
<div class="navbar:default" id="cssmenu" >
   <ul class="nav navbar-nav navbar-right">
      <li> <a href="front.html">Home </a> </li>
        <li> <a href="service.html"> Services </a> </li>
            <li> <a href="book.html"> Book</a> </li>
              <li> <a href="offers.html"> Offers</a> </li>
              <li> <a href="review.html"> Reviews </a> </li>
                <li> <a href="img_gallery.html"> Gallery</a> </li>
                  <li> <a href="reachus.html"> Reach us</a> </li>
                  <li> <a href="admin.html"> Admin</a> </li>
    </ul>
  </div>
<div id="txt_slogan">
    Management Is Nothing More Than An Motivating
</div>
<div id="ph">
  email:anupba72@gmail.com<br>
  phone:+91-8553905226
</div>
<div id="add">
  A Building, 1st Cross,1st Main Road<br>
  S.V.G Nagar, Nagarbhavi, Moodalapalya<br>
  Bengaluru:560072<br>
</div>

<div id="cb">
<a href="review.html" class="btn btn-success btn-block">
   Chatbot  </a>
</div>
<div class="container">
  <p id="analysis"><b>Analysis</b></p>
    <form>
      <div class="radio">
        <label><input type="radio"name="optradio"><a href="chart.html">day</a></label>
        </div>
        <div class="radio">
          <label><input type="radio"name="optradio"><a href="chart1.html">week</a></label>
          </div>
          <div class="radio">
            <label><input type="radio"name="optradio"><a href="chart2.html">month</a></label>
            </div>
            <div class="radio">
              <label><input type="radio"name="optradio"><a href="chart3.html">year</a></label>
              </div>
          </form>
        </div>
        <p id="offer"><b>Offer Updation</b> </p>
        <div ng-controller="Controller3">
        <form method="post">
          <input type="text" id="offer1" ng-model="offerenter">
  <input type="submit" value="Submit" id="offer2" ng-click="submitOffer()">
</form>
</div>

<div id="sym_img">
  <img src="images/1.png">
</div>

<div id="car_logo">
  <img src="images/audi-logo.png">
  <img src="images/bmw.png">
  <img src="images/citroen-logo.png">
  <img src="images/fiat_logo.png">
  <img src="images/jaguar.png">
  <img src="images/mercedes-benz-logo.png">
  <img src="images/ford-logo.png">
  <img src="images/2.png">
  <img src="images/renault-logo.png">
  <img src="images/vw-logo.png">
</div>



<div id="des2">
  <canvas id="myCanvas1" width="1365" height="150"
  style="border:1px solid #c3c3c3;">
  </canvas>

  <script>
  var canvas = document.getElementById("myCanvas1");
  var ctx = canvas.getContext("2d");
  ctx.fillStyle = "darkblue";
  ctx.fillRect(0,0,1365,150);
  </script>
</div>
<div id="timings">
  <h3 id="hr"> Hours Of Operation:</h3>
  Mon-Fri:9.00 AM-10.00 PM<br>
  Sat:9.00 AM-6.00 PM<br>
  Sun:Holiday<br>
</div>


<div id="pay">
    <img src="images/payment.png">
</div></body>
</html>
